<div class='portfolio_container'>
    <!-- <h1>pixel junkie</h1> -->
    <h4>"pixel junkie" is a cryptocollection game made with Solidity, inspired by CryptoPunks and Cryptokitties. users collect pixels to slowly reveal the picture.</h4>
</div>
