<div class='about_container'>
    <!-- <h1>pixel junkie</h1> -->
    <h4>"pixel junkie" is a cryptocollection game inspired by <a href="https://www.larvalabs.com/cryptopunks">CryptoPunks</a>  and <a href="https://www.cryptokitties.co">Cryptokitties</a>.</h4>
    <h4>users collect pixels to slowly reveal a picture.</h4>
</div>
