<div class='portfolio_container'>
    <h1>Pixel Junkie</h1>
    <h2>Click on a picture to purchase a pixel.</h2>
    <h3>You can only buy up to 3 pixels a day.</h2>
    <div class="portfolio_interaction">
        <!-- <div class="portfolio_stocks"> -->
            <img id="picture" src="/pictures/abstract.jpg" alt="" title="Picture: 'City'&#13;Percent Revealed: 30%">
            <img id="picture" src="/pictures/city.jpg" alt="">
            <img id="picture" src="/pictures/nicolas_cage.jpg" alt="">
        </div>
        <!-- <div class="buy">
            <h2>Cash - ${{money}}</h2>
            <form class="buy" action="/buy" method="post">
              <div class="form-group">
                <input type="ticker" name="ticker" class="form-control" id="ticker" placeholder="Ticker">
              </div>
              <div class="form-group">
                <input type="qty" name="qty" class="form-control" id="qty" placeholder="Qty">
              </div>
              <button type="submit" class="btn btn-primary">Buy</button>
            </form>
        </div> -->
    <!-- </div> -->
</div>
