<div class='portfolio_container'>

    <h1>click on a picture to purchase a pixel.</h1>
    <h2>you can buy up to 3 pixels a day.</h2>
    <div class="portfolio_interaction">
        <!-- <div class="portfolio_stocks"> -->
            <img id="picture" src="/pictures/abstract.jpg" onclick="buyPixel('city')" alt="" title="Picture: 'Abstract'&#13;Revealed: 17%">
            <img id="picture" src="/pictures/city.jpg" onclick="buyPixel('city')" alt="" title="Picture: 'City'&#13;Revealed: 48%">
            <img id="picture" src="/pictures/nicolas_cage.jpg" onclick="buyPixel('city')" alt="" title="Picture: 'Nicolas Cage'&#13;Revealed: 100%">
        </div>
        <!-- <div class="buy">
            <h2>Cash - ${{money}}</h2>
            <form class="buy" action="/buy" method="post">
              <div class="form-group">
                <input type="ticker" name="ticker" class="form-control" id="ticker" placeholder="Ticker">
              </div>
              <div class="form-group">
                <input type="qty" name="qty" class="form-control" id="qty" placeholder="Qty">
              </div>
              <button type="submit" class="btn btn-primary">Buy</button>
            </form>
        </div> -->
    <!-- </div> -->
</div>
