<div class='transactions_container'>
    <!-- <h1>pixel junkie</h1> -->
    <h1>my pixels</h1>
    <h3>(hover over a pixel to get its stats!)</h2>
    <!-- <div class="transactions"> -->
        <ol class="transaction_list">
            <div class="transaction_item"style="background-color: red;" title="Picture: City&#13;Coordinate: (1,1)&#13;Hex Code: FF0000"></div>
            <div class="transaction_item"style="background-color: blue;" title="Picture: City&#13;Coordinate: (1,1)&#13;Hex Code: FF0000"></div>
            <div class="transaction_item"style="background-color: pink;" title="Picture: City&#13;Coordinate: (1,1)&#13;Hex Code: FF0000"></div>
            <div class="transaction_item"style="background-color: blue;" title="Picture: City&#13;Coordinate: (1,1)&#13;Hex Code: FF0000"></div>
            <div class="transaction_item"style="background-color: pink;" title="Picture: City&#13;Coordinate: (1,1)&#13;Hex Code: FF0000"></div>
            <div class="transaction_item"style="background-color: blue;" title="Picture: City&#13;Coordinate: (1,1)&#13;Hex Code: FF0000"></div>
            <div class="transaction_item"style="background-color: orange;" title="Picture: City&#13;Coordinate: (1,1)&#13;Hex Code: FF0000"></div>
            <div class="transaction_item"style="background-color: blue;" title="Picture: City&#13;Coordinate: (1,1)&#13;Hex Code: FF0000"></div>
            {{#each pixels}}
                <div class="transaction_item">
                    <table bgcolor={{this.hexCode}}></table>
                    <h3>{{this.hexCode}}</h3>
                    <h3>{{this.picture}}</h3>
                    <h3></h3>
                </div>
            {{/each}}
        </ol>
    <!-- </div> -->
</div>
